* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #111;
}

.salute {
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.saluteTextContainer {
    flex: 3;
}

.saluteImageContainer {
    flex: 1;
}

.saluteText {
    color: #333;
    font-size: 60vw;
    cursor: default;
}

.saluteImage {
    width: 100%;
}

.nameContainer {
    height: 100vh;
    background-color: #810BC4;
}

.name {
    font-size: 18vw;
    color: #333;
    cursor: default;  
    text-align: center; 
    line-height: 100vh;
}

.jobTitleContainer {
    display: flex;
    align-items: center;
    height: 100vh;
}

.dark {
    background: url("./img/bg1.png");
}

.purple {
    background: #810BC4  url("./img/bg2.png");
}

.jobTitle {
    font-size: 10vw;
    color: #333;
    cursor: default;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 30vh;
    padding: 0px 100px;
}

.projectsTitle {
    font-size: 10vw;
    color: #333;
}

.project {
    display: flex;
    align-items: center;
    gap: 100px;
    height: 100vh;
    overflow: hidden;
}

.phone {
    flex: 1;
    position: relative;
    width: 300px;
    height: 600px;
}

.phoneScreen {
    width: 264px;
    height: 567px;
    position: absolute;
    top: 17px;
    left: 18px;
    border-radius: 28px;
    overflow: scroll;
}

.phoneScreen::-webkit-scrollbar {
    display: none;
}

.phoneApp {
    width: 100%;
}

.projectDetail {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.projectTitle {
    font-size: 7vw;
    color: #555;
}

.projectDescription {
    font-size: 20px;
    color: #555;
    text-align: justify;
    line-height: 40px;
}

.projectButton {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #555;
    color: #555;
    cursor: pointer;
}