/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* General */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* Transitions */

a, .btn {
  transition: all 300ms ease;
}

/* Desktop Nav */
nav, .navLinks {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.navLinks {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
 font-size: 2rem; 
}

.logo {
  cursor: default;
}

/* Hamburger menu */

#hamburgerNav {
  display: none;
}

.hamburgerMenu {
  position: relative;
  display: inline-block;
}

.hamburgerIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburgerIcon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menuLinks {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;

}

.menuLinks a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menuLinks li {
  list-style: none;
}

.menuLinks.open {
  max-height: 300px;
}

.hamburgerIcon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}
.hamburgerIcon.open span:nth-child(2) {
  opacity: 0;
}
.hamburgerIcon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburgerIcon span:first-child {
  transform: none;
}

.hamburgerIcon span:nth-child(2) {
  opacity: 1;
}

.hamburgerIcon span:last-child {
  transform: none;
}
